# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/
*.egg
.venv/
venv/
env/

# PyInstaller
*.spec
dist/
build/

# Test outputs
*.png
*.jpg

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS
.DS_Store
Thumbs.db
desktop.ini

# Misc
*.log
*.tmp

# Local region database
*.sqlite
*.sqlite-journal
